*{
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #026773, #3CA6A6);
}

body{
    display: flex !important;
    min-height: 100vh !important;
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
    flex-direction: column !important;
}

#elemento{
    max-width: 75px !important;
    width: 73px !important;
    max-height: 75px !important;
    height: 73px !important;
    margin: 0px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

div.familia{
    width: 75px !important;
    height: 75px !important;
    align-content: flex-end;
    display: grid;
}

div.elemento:hover{
    transition: .5s !important;
    color: #026773 !important;
    border-radius: 12px !important;
    border: 1px solid #026773 !important;
}

main{
    display: flex;
    flex-direction: row;
    margin-bottom: 3% !important;
}

#botaoVoltar{
    border-radius: 10px !important;
    border: none !important;
    padding: 3px !important;
    margin-bottom: 12px !important;
    transition: transform .3s !important;
    background-color: #f2e3d5 !important;
    max-width: 50% !important;
    width: 100% !important;
}

#botaoVoltar:hover{
    transform: scale(1.1) !important;
    background-color: #3CA6A6 !important;
}

.tituloTabela{
    position: fixed !important;
    color: #f2d3e5 !important;
    margin-top: 15px !important;
    margin-left: 15px !important;
    font-family: 'Courgette', cursive;
}

.content{
    color: whitesmoke !important;
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
}

@media screen and (max-width: 1300px) {
    .TabelaPeriodica {
        padding-top: 50px !important;
    }

    .tabelaperiodica {
        margin: 30px !important;
        flex-direction: row !important; /* Ajusta o layout das linhas */
        flex-wrap: wrap;
        margin-bottom: 20px !important;
    }

    .elemento {
        width: 60px !important; /* Largura dos elementos */
        height: 60px !important; /* Altura dos elementos */
        font-size: 10px !important; /* Tamanho da fonte */
    }

    .tabelaperiodicaLinhas{
        justify-content: center !important;
        align-items: center !important;    
        margin: 450px 15px 3% 15px !important;
    }

    .linha1, .linha2 {
        flex-direction: row !important; /* Ajusta o layout das linhas */
        flex-wrap: wrap;
    }

    .col-5 {
        flex: 1 !important; /* Ajusta a largura da coluna */
        margin: 0 !important;
    }

    .tabela {
        margin-bottom: 20px !important; /* Adiciona espaço abaixo da tabela */
    }

    .elemento {
        margin: 5px 0 !important; /* Ajusta o espaçamento entre elementos */
        width: 80px !important; /* Ajusta a largura dos elementos */
        height: 80px !important; /* Ajusta a altura dos elementos */
    }

    .elemento p {
        font-size: 12px !important; /* Ajusta o tamanho da fonte */
    }

    .celula {
        font-size: 12px !important; /* Ajusta o tamanho da fonte nas células */
    }

    .imgCenter-fluid{
        display: flex !important;
        justify-content: center !important;
        width: 60vw;
        height: 60vh;
        background-color: black;
        border-radius: 10px !important;
        align-items: center;
        margin-bottom: 50px !important;
        margin-top: auto !important;
        position: static !important;
    }

    .imagemElemento{
        width: 60vw;
        height: 60vh;
        border-radius: 3% !important;
        margin-top: 5%;
        margin-bottom: auto !important;
        position: static !important;
    }

    .row{
        display: flex;
        justify-content: row;
        max-height: 90% !important;
        margin: 3% !important;
    }
}

@media screen and (max-width: 690px) {
    .tabelaperiodicaLinhas{
        justify-content: center !important;
        align-items: center !important;    
        margin: 900px 15px 3% 15px !important;
    }
}

@media screen and (max-width: 490px) {
    .tabelaperiodicaLinhas{
        justify-content: center !important;
        align-items: center !important;    
        margin: 1200px 15px 3% 15px !important;
    }
}

@media screen and (max-width: 390px) {
    .imgCenter-fluid > img{
        display: flex !important;
        justify-content: center !important;
        position: static !important;
    }

    .imagemElemento{
        position: static !important;
    }

    .row{
        display: flex;
        flex-direction: row !important;
        max-height: 90% !important;
        margin: 3% !important;
    }

    .tabelaperiodicaLinhas{
        justify-content: center !important;
        align-items: center !important;    
        margin: 1500px 15px 3% 15px !important;
    }
}

.imagemElemento{
    width: 35vw;
    height: 60vh;
    border-radius: 3% !important;
    margin: 3%;
    margin-top: 5%;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.col-4{
    margin-top: 100% !important;
    margin-bottom: 100% !important;
    margin: auto !important;
    display: flex !important;
}

.col-6 {
    margin: 12px !important
}

.tabela{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.celula{
    padding: 15px !important;
    font-size: 14px !important;
}

.row{
    display: flex;
    justify-content: space-between;
    max-height: 90% !important;
    margin: 3% !important;
}

.texto {
    font-size: 16px !important;
}

.numAtIn{
    padding: 5px 0px 0px 7px !important;
    font-size: 12px !important;
}

.simbIn{
    text-align: center !important;
    padding: 1px  1px 3px 0px !important;
    display: flex !important;
    justify-content: center !important;
}

.nomeIn{
    font-size: 12px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    padding: 3px 0px 0px 0px !important;
}

.elemento{
    background-color: antiquewhite;
    border: 1px solid #012E40;
    margin: 5px !important;
    cursor: pointer !important;
    display: flex;
    flex-direction: column;
}

.blocoElemento{
    display: flex !important;
    flex-direction: column !important;
    max-width: 75px;
    max-height: 75px;
    width: 100% !important;
    height: 100% !important;
    margin: 80px 15px;
}

.caption{
    color: rgb(161, 161, 161);
    font-size: 17px !important;
}

.header{
    background-color: rgba(0, 0, 0, 0.750) !important;
    padding: 1% !important;
    border-radius: 0px 0px 10px 10px !important;
    width: 140% !important;
}

.titulo{
    font-family: 'Courgette', cursive !important;
    font-size: 20px !important;
    cursor: pointer !important;
    display: flex !important;
    justify-content: center !important;
}

.imgCenter-fluid{
    display: flex !important;
    justify-content: center !important;
    width: 35vw;
    height: 60vh;
    background-color: black;
    border-radius: 10px !important;
    align-items: center;
    margin: 10px !important;
    margin-bottom: 50px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}

@media screen and (max-width: 900px){
/* Tela Mobile */
    .imgCenter-fluid{
        margin: 5px 50px !important;
    }

    .telaDesk{
        display: none !important;
    }

    .imgCenter .imagemElemento{
        width: 250px !important;
        height: 250px !important;
        margin: 0px 20% !important;
    }
    .celula{
        margin: 0px 30% !important;
    }
    .ondeEncontrar{
        width: 77vh !important;
        text-align: justify !important;
    }
    .aplicacao{
        width: 77vh !important;
        text-align: justify !important;
    }
    .explicacoes{
        width: 77vh !important;
        text-align: justify !important;
    }
    .row {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

@media screen and (min-width: 900px) {
/* Tela Desktop */
    .telaMob{
        display: none !important;
    }
}

.tabelaperiodica{
    display: flex !important;
    height: 600px;
    align-items: flex-end;
    justify-content: space-between;
    margin: 3% 15px !important
}

.TabelaPeriodica{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px !important;
}

.tabelaperiodicaLinhas{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: black !important;
    font-size: 10px !important;
    border-radius: 10px 10px 0px 0px !important;
}

.espaco{
    padding: 18px !important;
}

.linha1 {
    display: flex !important;
}

.linha2{
    display: flex !important;
}

.textoReutilização{
    margin-bottom: 50px !important;
}

.aplicacao, .explicacoes, .ondeEncontrar{
    text-align: justify !important;
}

